*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.heading-secondary{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}
.heading-tertiary{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #151414;
    margin-bottom: 16px;
}


/* Banner Section: */
.section-banner{
    height: 100vh;

    /* for background */
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: right;

    /* for alignment */
    display: flex;
    align-items: center;
    justify-content: end;
}
.banner-container{
    padding: 0 230px;
}
.banner-heading{
    font-size: 65px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 24px;
}
.banner-text{
    width: 494px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 26px;
    margin-bottom: 32px;
}
.btn-primary{
    padding: 20px 26px;
    font-size: 20px;
    color: #005FAC;
    font-weight: 600;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
}

/* Content Section */
.section-content{
    padding: 132px 210px;
}
.content-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-texts{
    width: 416px;
    height: 400px;
}
.text{
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    margin-bottom: 16px;
}
.content-lists{
    list-style: none;
}
.list{
    font-size: 16px;
    color: #444343;
    margin-bottom: 8px;
}

/* Plan Section */
.section-plan{
    padding: 0 130px 130px;
}
.plan-container{
    text-align: center;
}
.plan-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.plan-img{
    margin-bottom: 18px;
}
.plan-text{
    font-weight: 500;
    color: #737272;
    font-size: 25px;
}

/* Call to action section */
.section-cta{
    padding: 0 230px 130px;
}
.cta-container{
    width: 1140px;
    height: 300px;
    margin: 0 auto;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    border-radius: 8px;
}
.cta-content{
    padding: 60px 64px;
}
.cta-heading{
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 24px;
}